DIRECTUS_URL=https://cms.rotexai.com
DIRECTUS_ADMIN_TOKEN=
NEXT_PUBLIC_DIRECTUS_URL=https://cms.rotexai.com
NEXT_PUBLIC_KEYCLOAK_URL=https://auth.rotexai.com/realms/internal
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=blog-web
NEXT_PUBLIC_APP_URL=http://localhost:3000
